# Dependencies
node_modules/

# Database
database/*.db
database/*.sqlite
database/*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Temp
tmp/
temp/
*.tmp

# Backup
*.zip
*.bak

# Test
coverage/
